*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: rgb(177, 255, 230);   
    font-family: sans-serif; 
    font-weight: 500;
}


button {
    all: unset;
    cursor: pointer;
    text-align: center;
  }

.arrow {
    margin-left: 5px;
    margin-bottom: 2px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3.5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav_bar{
    display: flex;
    justify-content: space-between;
    height: 9dvh;
    background-color: rgb(177, 255, 230);
}


// index
::placeholder{
    color: rgba(107, 107, 107, 0.685);
    opacity: 1;
}

.sb_area{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 91dvh;
}
.select_father{
    height: 400px;
    width: 220px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px black;
    border-style: outset;
    border-radius: 25px;
    border-top-right-radius: 40px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.248);
    background-color: white;

    .shower{
        text-align: center;
        align-items: center;
        background-color: rgb(59, 193, 149);
        padding-bottom: 30px;
        padding-top: 20px;
        position: relative;
        bottom: 17.5px;
        border-top-left-radius: 23px;
        border-top-right-radius: 38px;
        border-bottom-left-radius: 50px;
        color: white;

        h2 {
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.306);
            // text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
            // 1px 2px #000000, -1px -2px #000000, 1px -2px #000000, -2px 2px #000000;
          }
    }
    .select_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 70px;
        .align_h{
            min-width: 150px;
            h3{
                margin-bottom: 3px;
                font-weight: 500;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.145);
            }  

        }

        .select_sb{
            padding: 6px;
            border-style: inset;
            font-weight: 600;
            align-items: center;
            background-color: white;
        }
        
        .bt{
            height: 35px;
            width: auto;
            min-width: 150px;
            border-radius: 25px;
            border: 1px rgba(255, 255, 255, 0.396);
            border-style: outset;
            box-shadow: 1px 1px 4px rgb(167, 167, 167);
            cursor: pointer;  
            padding: 0px;
            font-weight: 600;
        }
        .na{
            color: rgba(66, 66, 66, 0.418);
        }
        .ni{
            color: rgb(66, 66, 66);
        }
        .bt:hover{
            color: rgba(0, 0, 0, 0.418);
            transition: 0.5s;
            box-shadow: 2px 2px 5px rgb(43, 43, 43);
        }

        .spe_disp{
            position: absolute;
            margin-top: 22px;
            max-height: 200px;
            max-width: 200px;
            box-shadow: 1px 1px 3px black;
            border-radius: 15px;
            .tb{
                height: 23px;
                width: 176.5px;
                border-radius: 15px;
                border: none;
            }
            .tb:focus{
                border-color: white;
            }

            .inv{
                display: none;
            }

            .spe_cont{
                overflow-y: scroll;
                max-height: 150px;
                // box-shadow: 1px 1px 3px black;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                // top: 100px;

                    button{
                        width: auto;
                        min-width: 190px;
                        height: 40px;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        border: 5px; 
                        background-color: white;
                    }
                    #ensurance_button:hover{
                        background-color: aqua;
                    }
            }
            .spe_cont::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

// docotrs
#doctors_container{
    height: 80vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aqua;
    border: 2px black;
    border-style: outset;
    border-radius: 25px;
    box-shadow: 1px 1px 2px black;
    .doctor{
        display: block;
        height: 300px;
        width: 200px;
        color: red;
    }
}

select{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 25px;
    &.different {
        // @include background-up-down(purple);
        appearance: none;
        background-origin: content-box;
        background-position: right -1em center;
        background-repeat: no-repeat;
        background-size: auto;
        box-sizing: border-box;
        padding-right: 1.5em;
      }
    
}