*{
    margin: 0px;
    padding: 0px;
}

button {
    all: unset;
    cursor: pointer;
    text-align: center;
  }

.arrow {
    margin-left: 5px;
    margin-bottom: 2px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3.5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav_bar{
    display: flex;
    justify-content: space-between;
    height: 11dvh;
    background-color: rgb(44, 175, 133);
}


// index

.select_father{
    display: flex;
    justify-content: space-around;
    .select_container{
        display: block;
        height: 50px;
        .select_button{
            margin: 10px 10px;
        }
        .spe_cont{
            box-shadow: 1px 1px 4px black;
            border-radius: 5px;
            position: absolute;
                button{
                    width: 200px;
                    height: 40px;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    border: 5px; 
                }
                button:hover{
                    background-color: rgb(226, 226, 226);
                }
        }
    }
}




