* {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: #f4fbff;
  font-family: sans-serif;
  font-weight: 500; }

.show {
  display: block; }

.hide {
  display: none; }

button {
  all: unset;
  cursor: pointer;
  text-align: center; }

.arrow {
  margin-left: 5px;
  margin-bottom: 2px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px; }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

input[type="submit"]:hover {
  cursor: pointer; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.bx_s {
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.275); }

#nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9dvh;
  background-color: white; }
  #nav_bar .nav_logo {
    height: 68px;
    width: 68px; }
    #nav_bar .nav_logo img {
      height: 65px;
      filter: brightness(75%); }
    #nav_bar .nav_logo img:hover {
      height: 67px;
      transition: 0.5s; }

.indx_show {
  height: 90dvh;
  width: 100%; }
  .indx_show .bg_blacked {
    height: 100%;
    width: 100%; }
    .indx_show .bg_blacked .indx_bg_img {
      height: 100%;
      width: 100%;
      background-image: none, url("/static/images/doctors.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      .indx_show .bg_blacked .indx_bg_img .cont_align {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 100%; }
        .indx_show .bg_blacked .indx_bg_img .cont_align .docty_name {
          font-size: 450%;
          text-align: center;
          margin: 1px 10px;
          color: white;
          font-weight: 600;
          text-shadow: 1px 1px 10px #384945;
          margin-bottom: 1%; }
        .indx_show .bg_blacked .indx_bg_img .cont_align .docty_logo img {
          height: 180px; }
        .indx_show .bg_blacked .indx_bg_img .cont_align .docty_sb {
          height: 15%;
          width: 55%;
          display: flex;
          justify-content: center;
          min-width: 320px; }
          .indx_show .bg_blacked .indx_bg_img .cont_align .docty_sb a {
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            justify-content: center; }
            .indx_show .bg_blacked .indx_bg_img .cont_align .docty_sb a .bt_findoc {
              padding-left: 8%;
              padding-right: 8%;
              background-color: #051331;
              border-radius: 20px;
              font-size: 200%;
              font-weight: 500;
              margin-top: 30px; }
          .indx_show .bg_blacked .indx_bg_img .cont_align .docty_sb .bt_findoc:hover {
            background-color: #112a64;
            transition: 0.5s; }

.sb_area {
  display: flex;
  margin-top: 5vh;
  justify-content: space-evenly;
  height: 91dvh;
  flex-wrap: wrap; }

.select_father {
  height: 56.5vh;
  width: 17vw;
  min-width: 200px;
  min-height: 356px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px black;
  border-style: outset;
  border-radius: 25px;
  border-top-right-radius: 40px;
  background-color: white;
  background-image: none, url("/static/images/bgwhite.jpg"); }
  .select_father .shower {
    background-image: none, url("/static/images/bgblue.jpeg");
    height: 25%;
    width: 99.2%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 23px 38px 0px 50px;
    color: white;
    border: 1px rgba(8, 31, 53, 0.649);
    border-style: solid; }
    .select_father .shower span {
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.306);
      font-size: 170%;
      font-weight: 600; }
  .select_father .select_flex {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    width: 100%; }
    .select_father .select_flex .select_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 70px;
      width: 100%; }
      .select_father .select_flex .select_container .align_h {
        width: 100%;
        height: 12vh;
        min-width: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .select_father .select_flex .select_container .align_h h2 {
          width: 13vw;
          text-align: left;
          font-weight: 600;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.145); }
      .select_father .select_flex .select_container .select_sb {
        padding: 6px;
        border-style: inset;
        font-weight: 600;
        align-items: center;
        background-color: white; }
      .select_father .select_flex .select_container .bt {
        height: 35px;
        width: 14vw;
        min-width: 150px;
        border-radius: 25px;
        border: 1px rgba(255, 255, 255, 0.396);
        border-style: outset;
        box-shadow: 1px 1px 4px #a7a7a7;
        cursor: pointer;
        padding: 0px;
        font-weight: 600; }
      .select_father .select_flex .select_container .na {
        color: rgba(66, 66, 66, 0.418); }
      .select_father .select_flex .select_container .ni {
        color: #424242; }
      .select_father .select_flex .select_container .bt:hover {
        opacity: 100;
        transition: 0.5s;
        box-shadow: 2px 2px 5px #2b2b2b; }
      .select_father .select_flex .select_container .spe_disp {
        position: absolute;
        margin-top: 12%;
        height: 50px;
        width: 85%; }
        .select_father .select_flex .select_container .spe_disp .shadow {
          box-shadow: 1px 1px 3px black;
          border-radius: 15px; }
        .select_father .select_flex .select_container .spe_disp .tb {
          height: 3vh;
          width: 95%;
          border-radius: 15px;
          border: none; }
        .select_father .select_flex .select_container .spe_disp .tb:focus {
          border-color: white; }
        .select_father .select_flex .select_container .spe_disp .inv {
          display: none; }
        .select_father .select_flex .select_container .spe_disp .spe_cont {
          overflow-y: scroll;
          max-height: 160px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px; }
          .select_father .select_flex .select_container .spe_disp .spe_cont button {
            width: 100%;
            height: 45px;
            display: block;
            font-size: 100%;
            margin: 0px; }
        .select_father .select_flex .select_container .spe_disp .spe_cont::-webkit-scrollbar {
          display: none; }

.select_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  width: 100%; }
  .select_container .align_h {
    width: 100%;
    height: 12vh;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .select_container .align_h h2 {
      width: 13vw;
      text-align: left;
      font-weight: 600;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.145); }
  .select_container .select_sb {
    padding: 6px;
    border-style: inset;
    font-weight: 600;
    align-items: center;
    background-color: white; }
  .select_container .bt {
    height: 35px;
    width: 14vw;
    min-width: 150px;
    border-radius: 25px;
    border: 1px rgba(255, 255, 255, 0.396);
    border-style: outset;
    box-shadow: 1px 1px 4px #a7a7a7;
    cursor: pointer;
    padding: 0px;
    font-weight: 600; }
  .select_container .na {
    color: rgba(66, 66, 66, 0.418); }
  .select_container .ni {
    color: #424242; }
  .select_container .bt:hover {
    opacity: 100;
    transition: 0.5s;
    box-shadow: 2px 2px 5px #2b2b2b; }
  .select_container .spe_disp {
    position: absolute;
    margin-top: 12%;
    height: 50px;
    width: 85%; }
    .select_container .spe_disp .shadow {
      box-shadow: 1px 1px 3px black;
      border-radius: 15px; }
    .select_container .spe_disp .tb {
      height: 3vh;
      width: 95%;
      border-radius: 15px;
      border: none; }
    .select_container .spe_disp .tb:focus {
      border-color: white; }
    .select_container .spe_disp .inv {
      display: none; }
    .select_container .spe_disp .spe_cont {
      overflow-y: scroll;
      max-height: 160px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; }
      .select_container .spe_disp .spe_cont button {
        width: 100%;
        height: 45px;
        display: block;
        font-size: 100%;
        margin: 0px; }
    .select_container .spe_disp .spe_cont::-webkit-scrollbar {
      display: none; }

#doctors_container {
  width: 70vw;
  min-width: 320px;
  background-color: white;
  border-radius: 25px;
  padding: 0px 3vh;
  height: auto; }
  #doctors_container .doctor {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    min-width: 300px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
    background-color: white;
    padding: 4% 2%; }
    #doctors_container .doctor .info {
      width: 50%;
      display: flex;
      align-items: center; }
      #doctors_container .doctor .info .prof_pic_cont {
        height: 60%;
        width: 9%;
        min-width: 100px; }
        #doctors_container .doctor .info .prof_pic_cont .prof_pic {
          height: 100%;
          width: 100%; }
      #doctors_container .doctor .info .info_txt .span_name a {
        text-decoration: none;
        color: black;
        font-size: 150%;
        padding: 0px; }
      #doctors_container .doctor .info .info_txt .span_cont {
        margin: 10px 0px;
        width: 100%; }
        #doctors_container .doctor .info .info_txt .span_cont .spec_prof_txt {
          font-size: 12px;
          font-weight: 600;
          color: #3c3c3c; }
  #doctors_container a {
    color: white;
    padding: 12px 20px;
    font-weight: 600; }
    #doctors_container a button {
      background-image: none, url("/static/images/bgblue.jpeg");
      padding: 12px 20px;
      border-radius: 5px; }

@media (max-width: 1035px) {
  .sb_area {
    justify-content: center; }
  .select_father {
    width: 98vw;
    height: 10vh;
    min-height: 200px; }
  #doctors_container {
    width: 85dvw; }
  .select_father {
    display: none; } }

@media (max-width: 570px) {
  #doctors_container .doctor {
    flex-direction: column; }
    #doctors_container .doctor .info {
      flex-direction: column;
      width: 100%; }
      #doctors_container .doctor .info .prof_pic_cont {
        height: 60%;
        width: 60%; }
      #doctors_container .doctor .info .info_txt {
        width: 100%;
        justify-content: center;
        align-items: center; }
        #doctors_container .doctor .info .info_txt .span_name {
          width: 100%;
          display: flex;
          justify-content: center; }
        #doctors_container .doctor .info .info_txt .span_cont {
          width: 100%;
          display: flex;
          justify-content: center;
          text-align: center; } }

.doc_prof_cont {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin-top: 10px; }
  .doc_prof_cont .doc_prof_box {
    height: auto;
    width: 90dvw;
    min-width: 320px;
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .doc_prof_cont .doc_prof_box .prof_sec_1 {
      height: auto;
      width: 95%;
      display: flex;
      justify-content: space-around;
      background-color: rgba(240, 248, 255, 0.455);
      padding: 2%;
      border-radius: 25px; }
      .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont {
        width: 79%;
        margin-left: 20px; }
        .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .name_prof {
          height: auto;
          width: 100%; }
          .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .name_prof span {
            font-size: 325%;
            font-weight: 600; }
        .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .specialities_prof {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap; }
          .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .specialities_prof .speciality_prof {
            font-size: 28px;
            margin-right: 30px;
            font-weight: 600;
            color: #4e4e4e; }
        .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .description_prof {
          width: 95%;
          margin-top: 25px; }
          .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .description_prof span {
            font-size: 20px; }
        .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .cita {
          margin-top: 10px;
          height: auto; }
          .doc_prof_cont .doc_prof_box .prof_sec_1 .prof_txt_cont .cita button {
            font-size: 20px;
            background-color: #0b0b56;
            padding: 12px;
            border-radius: 15px;
            color: white;
            font-weight: 500; }
    .doc_prof_cont .doc_prof_box .prof_sec_2 {
      height: auto;
      width: 95%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background-color: rgba(240, 248, 255, 0.455);
      padding: 2%;
      border-radius: 25px; }
      .doc_prof_cont .doc_prof_box .prof_sec_2 hr {
        margin-top: 10px;
        margin-bottom: 15px; }
      .doc_prof_cont .doc_prof_box .prof_sec_2 .box_prof {
        height: auto;
        width: auto;
        min-width: 300px;
        max-width: 450px;
        border-radius: 15px;
        padding: 10px;
        margin: 20px 20px; }
        .doc_prof_cont .doc_prof_box .prof_sec_2 .box_prof a {
          height: 20px;
          text-align: center;
          margin: 25px 5px;
          width: fit-content;
          font-weight: 600; }

.img_prof {
  height: 100%;
  width: 21%;
  min-width: 320px;
  min-height: 320px;
  max-height: 330px;
  display: flex;
  justify-content: center; }
  .img_prof img {
    height: 100%;
    width: 100%;
    border-radius: 250px; }

.box_prof_ens {
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 1px rgba(66, 66, 66, 0.697);
  border-style: solid;
  border-radius: 25px;
  padding: 3px 15px;
  width: auto;
  margin: 2px auto;
  background-color: white; }
  .box_prof_ens span {
    font-weight: 700; }

.box_prof_clinic {
  display: inline-block;
  border-radius: 15px;
  background-color: #0a3169;
  padding: 8px 16px;
  box-shadow: 1px 1px 3px black;
  margin: 3px 0px;
  color: white; }

a:hover .box_prof_clinic {
  background-color: #275eaa;
  box-shadow: 1px 1px 6px black;
  transition: 1s; }

@media (max-width: 870px) {
  .prof_sec_1 {
    flex-wrap: wrap;
    padding: 0px; }
  .prof_sec_2 {
    flex-direction: column; }
  .prof_txt_cont {
    width: 95% !important;
    margin: 0px; }
    .prof_txt_cont .name_prof {
      text-align: center !important; }
    .prof_txt_cont .specialities_prof {
      display: flex;
      justify-content: center; }
    .prof_txt_cont .speciality_prof {
      margin: 3px 7px !important; }
    .prof_txt_cont .cita {
      display: flex;
      justify-content: center; }
  .description_prof {
    width: 100%; } }

.date_container {
  top: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.324); }
  .date_container #date_div_cont {
    height: auto;
    width: 90%;
    min-width: 320px;
    background-color: white;
    border-radius: 25px;
    padding: 12px;
    position: absolute; }
    .date_container #date_div_cont #close {
      display: flex;
      font-size: 3vh;
      height: auto;
      padding: 0px 6px;
      justify-content: right; }
      .date_container #date_div_cont #close button {
        padding: 10px;
        border-radius: 10px; }
      .date_container #date_div_cont #close button:hover {
        background-color: rgba(211, 211, 211, 0.701); }
    .date_container #date_div_cont .buttonsito {
      padding: 10px;
      background-color: #16164a;
      color: white;
      font-weight: 600;
      border-radius: 15px; }
    .date_container #date_div_cont .olo {
      height: 90%;
      width: 100%; }
    .date_container #date_div_cont .date_cont {
      width: 50%;
      min-width: 320px; }
      .date_container #date_div_cont .date_cont .calendar_header {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px; }
        .date_container #date_div_cont .date_cont .calendar_header div {
          display: flex; }
          .date_container #date_div_cont .date_cont .calendar_header div button {
            margin-left: 10px; }
        .date_container #date_div_cont .date_cont .calendar_header #month_html {
          min-width: 200px;
          text-align: center; }
      .date_container #date_div_cont .date_cont .calendar_cont {
        width: 100%;
        min-width: 320px; }
        .date_container #date_div_cont .date_cont .calendar_cont ul {
          display: flex;
          list-style: none;
          flex-wrap: wrap; }
          .date_container #date_div_cont .date_cont .calendar_cont ul li {
            display: inline-block;
            padding: 10px 0px;
            width: calc(100% / 7);
            font-weight: 600;
            text-align: center; }
            .date_container #date_div_cont .date_cont .calendar_cont ul li .pickdate_button {
              background-color: white;
              color: black;
              padding: 10px;
              border-radius: 5px; }
            .date_container #date_div_cont .date_cont .calendar_cont ul li .pickdate_button:hover {
              background-color: rgba(78, 78, 78, 0.249); }
            .date_container #date_div_cont .date_cont .calendar_cont ul li .ds_button {
              color: silver;
              background-color: white;
              padding: 10px; }
            .date_container #date_div_cont .date_cont .calendar_cont ul li .ds_button:hover {
              cursor: auto; }
          .date_container #date_div_cont .date_cont .calendar_cont ul .nodate {
            color: white; }
        .date_container #date_div_cont .date_cont .calendar_cont .dayinfo {
          display: flex;
          background-color: aqua;
          height: 20%; }
    .date_container #date_div_cont .form_date {
      width: 45%;
      min-width: 150px;
      padding: 1%;
      text-align: center; }
      .date_container #date_div_cont .form_date #info_collection {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        min-height: 250px; }
        .date_container #date_div_cont .form_date #info_collection #day {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
        .date_container #date_div_cont .form_date #info_collection .time {
          min-width: 175px;
          background-color: white;
          border-radius: 15px;
          margin-top: 4%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 20%;
          margin-bottom: 15px;
          border-style: solid;
          border-width: 2px; }
          .date_container #date_div_cont .form_date #info_collection .time .time_date_btn {
            width: 100%;
            font-size: 22px;
            font-weight: 600;
            padding: 4% 2%;
            margin: 14px 6px;
            color: #4c4c4c;
            border-radius: 5px; }
        .date_container #date_div_cont .form_date #info_collection .time::-webkit-scrollbar {
          display: none; }
        .date_container #date_div_cont .form_date #info_collection .time:hover {
          cursor: pointer; }

.space_sd {
  position: absolute;
  background-color: white;
  border-radius: 15px;
  max-height: 300px;
  min-height: 80px;
  width: 175px;
  overflow: scroll;
  overflow-x: hidden;
  align-self: flex-start;
  border-style: solid;
  border-width: 2px; }

@media (max-width: 900px) {
  #date_div_cont {
    min-height: 700px;
    max-height: 800px; }
  .space_sd {
    position: absolute; }
  .date_cont {
    width: 100% !important; }
  .form_date {
    width: 100% !important; } }

@media (max-width: 600px) {
  .date_cont {
    margin-top: 10px; }
  .calendar_cont {
    min-width: 100px; } }

.myprof_body {
  min-height: 1000px;
  display: flex;
  justify-content: center; }
  .myprof_body .myprof_im {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .myprof_body .myprof_im div {
      display: flex;
      justify-content: center;
      margin: 5px; }
      .myprof_body .myprof_im div .img_myprof {
        height: 200px;
        width: 200px; }
        .myprof_body .myprof_im div .img_myprof img {
          max-width: 100%;
          border-radius: 150px; }
  .myprof_body .myprof_cont {
    margin: 20px;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    width: 85%;
    max-width: 750px;
    min-width: 320px;
    display: flex;
    justify-content: center; }

.upcoming_date {
  height: 115px;
  width: 100%;
  min-width: 550px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8feff; }
  .upcoming_date div {
    text-align: center; }

.img_mydates {
  height: 110px;
  width: 110px;
  align-items: center;
  display: flex;
  border-radius: 150px; }
  .img_mydates img {
    border-radius: 150px;
    width: 100%;
    height: 100%; }

.fav_doctors {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px; }
  .fav_doctors .fav_docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    text-align: center; }
    .fav_doctors .fav_docs a {
      display: flex;
      flex-direction: column;
      align-items: center; }

@media (max-width: 610px) {
  .upcoming_date {
    min-width: 320px; } }

/*# sourceMappingURL=style.css.map */